
mkdocs==1.6.1           
# -----------------------------------------
# Tema
# -----------------------------------------
mkdocs-material>=9.5.3      
mkdocs-material-extensions>=1.3.1

# -----------------------------------------
# Plugins oficiales / comunidad
# -----------------------------------------
mkdocs-git-revision-date-localized-plugin==1.4.5
mkdocs-git-authors-plugin==0.9.4
mkdocs-macros-plugin>=1.0.5
mkdocs-swagger-ui-tag>=0.5.1
mkdocs-glightbox==0.4.0

# -----------------------------------------
# Extensiones Markdown
# -----------------------------------------
pymdown-extensions==10.14.3
neoteroi-mkdocs>=1.0.4
