:root {
  --md-primary-fg-color:        #00223b;   /* Azul corporativo oscuro y profesional */
  --md-primary-fg-color--light: #125c92;   /* Azul más claro para hover/énfasis */
  --md-primary-fg-color--dark:  #072B45;   /* Azul aún más oscuro */

  --md-accent-fg-color:         #e0821e;   /* Ocre/Dorado, extraído del logo */
  --md-accent-bg-color:         #e8953b;

  --md-default-fg-color:        rgba(28, 30, 33, 0.92); /* Texto principal casi negro */
  --md-default-bg-color:        #FFFFFF;   /* Fondo blanco puro */

  --md-typeset-a-color:         #e8953b;   /* Enlaces en azul para consistencia */
  --md-code-bg-color:           #f5f7fa;   /* Fondo de código gris claro */
  --md-code-fg-color:           #e8953b;   /* Texto de código en el azul primario */
}


[data-md-color-scheme="slate"] {
  --md-default-bg-color:        #12181B;   /* Fondo oscuro con un ligero tono azul */
  --md-default-fg-color:        rgba(235, 235, 245, 0.9); /* Texto principal gris claro */

  --md-primary-fg-color:        #b1cf65;   /* Azul claro y legible para modo oscuro */
  --md-primary-fg-color--light: #c7e186;
  --md-primary-fg-color--dark:  #7A972F;

  --md-accent-fg-color:         #E8C58A;   /* Ocre/Dorado más brillante y luminoso */
  --md-accent-bg-color:         #E8C58A;

  --md-typeset-a-color:         #E8C58A;   /* Enlaces en el color de acento para destacar */
  --md-code-bg-color:           #1F2937;   /* Fondo de código gris oscuro */
  --md-code-fg-color:           #FDE68A;   /* Texto de código en un tono amarillo claro */
}


/* ------------------------------
   Header
--------------------------------- */
.md-header, .md-tabs {
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  background-color: var(--md-primary-fg-color) !important;
  color: #fff !important;
}

.md-header__title,
.md-header__title a,
.md-header__button,
.md-header__button svg {
  color: #fff !important;  
  fill: #fff !important;
}

/* ------------------------------
   Botones
--------------------------------- */
.md-button--primary {
  background-color: #e8953b !important;
  border-color:     #e8953b !important;
  color: #fff !important;
}

.md-button--primary:hover {
  background-color: #c86c09 !important;
  border-color:     #c86c09 !important;
}

.md-button--outline {
    border-color:     #e8953b !important;
}

.md-content__inner .md-button {
  margin: 0.5rem;
  font-weight: 600;
}

/* ------------------------------
   Hero centrado
--------------------------------- */
.md-content__inner > div[style*="text-align: center"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: 960px;
}
